@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* remember to remove this default color whn you are done */
  color: #fff;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
button {
  font-family: 'Poppins';
  font-weight: bold;
  max-width: 246px;
  width: 100%;
  background: #fce82f;
  border-radius: 10px;
  padding: 20px 0;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  border: none;
  cursor: pointer;
}
button:hover {
  background: none;
  border: 1.5px solid #fce82f;
  color: #fce82f;
}
h1,
h2,
h3,
li,
p {
  font-family: 'Montserrat';
}

.App {
  background-color: #000;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 1240px;
  width: 100%;
}
@media screen and (max-width: 500px) {
  button {
    max-width: 200px;
  }
}
